span{
  color: gold;
}
.top{
  text-align: center;
  color: white;
  font-size: 48px;
  margin-top: 7%;
  text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.book{
  color: black;
  text-align: center;
  margin-top: 1%;
  padding-top: 2%;
  padding-bottom: 1%;
  border-radius: 50px;
  transition: 0.3s;
  width: 1600px;
  margin: auto;
}
.content{
  text-align: justify;
  background-color: white;
  border-radius: 75px;
  border: grey solid 1px;
  margin-top: 5%;
  padding: 2%;
  height: 100%;
  transition: 0.3s;
}
.content:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin-top: 4.8%;
  transition: 0.3s;
}
hr{
  border: 2px solid gold;
}
.img1{
  width: 900px;
  height: auto;
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  border: black solid 3px;
}
.img2{
  width: 400px;
  height: auto;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  border: black solid 3px;
}
.img3{
  width: 900px;
  height: auto;
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.img4{
  width: 900px;
  height: auto;
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.list {
  list-style-position: inside;
 }
.final{
  background-color: gold;
  margin-left: -2.1%;
  margin-right: -2.1%;
}
.infinal{
  margin-left: 10%;
  margin-right: 10%;
  color: white;
  font-size: 32px;
  text-align: center;
}
.cta{
  font-size: 30px;
  border: 0;
  border-bottom: 2px solid;
  width: 30%;
  transition: 0.3s;
}
.cta:hover{
  cursor: pointer;
  font-size: 107%;
  transition: 0.3s;
}